#botao:disabled{
    cursor: not-allowed;
    background-color: #f0506e;
    color: #fff;
}
#login{
    height: 100%;
    background-image: url("../imgs/logo.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	overflow-y: scroll !important;
}